body {
	color: white;
	/* height: 100%; */
}

html,
body {
	min-height: 100%;
}

.main-area {
	margin-top: 70px;
}

nav {
	background-color: black;
}

.body {
	position: relative;
	width: auto;
	margin: auto;
	height: 100%;
	bottom: 0;
}

.nav-tab {
	overflow: hidden;
	/* border: 1px solid #ccc; */
	/* background-color: #f1f1f1; */
	position: relative;
	margin-right: 20px;
}

.nav-tab a {
	margin-bottom: 0px;
	padding: 5px;
	text-decoration: none;
	color: inherit;
}
/* .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
} */

.nav-tab:hover {
	background-color: #dddddd;
	color: #343a40;
}

.nav-tab .active {
	background-color: #dddddd;
	color: #343a40;
	border-top: solid white 3px;
	border-right: solid white 3px;
	border-left: solid white 3px;
	font-size: 1.5em;
}

.tab-content {
	/* display: none; */
	padding: 6px 12px;
	border: 3px solid white;
	border-top: none;
	background-color: #dddddd;
}

#slideshow div {
	width: 100%;
	/* height: 300px; */
}
#slideshow div img {
	width: 70%;
	height: auto;
	border: solid white 3px;
}

.slick-item {
	/* border: solid white 5px; */
	padding: 0 20px;
}

.main-area .tab-content {
	background: #ddd;
	color: black;
}

.infoContent {
	display: inline-block;
}

.imgHolder img {
	width: 100%;
}

#movieTitle,
#movieYear {
	display: inline-block;
}

#movieYear {
	position: relative;
	top: 10px;
	padding-left: 10px;
}

.fa-star {
	font-size: 40px;
	color: #e4bb23;
}

#rating {
	position: relative;
	/* top: 7px; */
}

.fa-star,
#rating {
	display: inline-block;
}

.rating-stuff {
	margin-left: 30px;
}

#outOf {
	font-size: 12px;
}

footer {
	background-color: black;
}
